# project files
config.json
tokens.json

# music files
*.mp3
*.aac
*.m4a
*.wav
*.flac
*.ogg

# gradle
/build/
/.gradle/

# eclipse files
.classpath
.project
.settings/
/bin/

# intellij files
/.idea/
*.iml
*.ipr
*.iws
