{
  "openapi": "3.1.0",
  "info": {
    "title": "Discord HTTP API (Preview)",
    "description": "Preview of the Discord v10 HTTP API specification. See https://discord.com/developers/docs for more details.",
    "termsOfService": "https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "10"
  },
  "externalDocs": {
    "url": "https://discord.com/developers/docs",
    "description": "Discord Developer Documentation"
  },
  "servers": [
    {
      "url": "https://discord.com/api/v10"
    }
  ],
  "paths": {
    "/applications/@me": {
      "get": {
        "operationId": "get_my_application",
        "responses": {
          "200": {
            "description": "200 response for get_my_application",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "patch": {
        "operationId": "update_my_application",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationFormPartial"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_my_application",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_application",
        "responses": {
          "200": {
            "description": "200 response for get_application",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "patch": {
        "operationId": "update_application",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationFormPartial"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_application",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateApplicationResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/activity-instances/{instance_id}": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "instance_id",
          "in": "path",
          "schema": {
            "type": "string",
            "maxLength": 152133
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "applications_get_activity_instance",
        "responses": {
          "200": {
            "description": "200 response for applications_get_activity_instance",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddedActivityInstance"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/attachment": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "post": {
        "operationId": "upload_application_attachment",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "contentEncoding": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for upload_application_attachment",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesAttachmentResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "activities.invites.write",
              "activities.read",
              "activities.write",
              "applications.builds.read",
              "applications.builds.upload",
              "applications.commands",
              "applications.commands.permissions.update",
              "applications.commands.update",
              "applications.entitlements",
              "applications.store.update",
              "bot",
              "connections",
              "dm_channels.read",
              "email",
              "gdm.join",
              "guilds",
              "guilds.join",
              "guilds.members.read",
              "identify",
              "messages.read",
              "openid",
              "relationships.read",
              "role_connections.write",
              "rpc",
              "rpc.activities.write",
              "rpc.notifications.read",
              "rpc.screenshare.read",
              "rpc.screenshare.write",
              "rpc.video.read",
              "rpc.video.write",
              "rpc.voice.read",
              "rpc.voice.write",
              "voice",
              "webhook.incoming"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/commands": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_application_commands",
        "parameters": [
          {
            "name": "with_localizations",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_application_commands",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "put": {
        "operationId": "bulk_set_application_commands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/ApplicationCommandUpdateRequest"
                },
                "maxItems": 130
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for bulk_set_application_commands",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "post": {
        "operationId": "create_application_command",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCommandCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_application_command",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "201": {
            "description": "201 response for create_application_command",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/commands/{command_id}": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "command_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_application_command",
        "responses": {
          "200": {
            "description": "200 response for get_application_command",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "delete_application_command",
        "responses": {
          "204": {
            "description": "204 response for delete_application_command",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "update_application_command",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCommandPatchRequestPartial"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_application_command",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/emojis": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_application_emojis",
        "responses": {
          "200": {
            "description": "200 response for list_application_emojis",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApplicationEmojisResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "post": {
        "operationId": "create_application_emoji",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 32
                  },
                  "image": {
                    "type": "string",
                    "contentEncoding": "base64"
                  }
                },
                "required": [
                  "name",
                  "image"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "201 response for create_application_emoji",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmojiResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/emojis/{emoji_id}": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "emoji_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_application_emoji",
        "responses": {
          "200": {
            "description": "200 response for get_application_emoji",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmojiResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_application_emoji",
        "responses": {
          "204": {
            "description": "204 response for delete_application_emoji",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "patch": {
        "operationId": "update_application_emoji",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 32
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_application_emoji",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmojiResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/entitlements": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_entitlements",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "sku_ids",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "$ref": "#/components/schemas/SnowflakeType"
                      }
                    ]
                  },
                  "maxItems": 100,
                  "uniqueItems": true
                }
              ]
            }
          },
          {
            "name": "guild_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "exclude_ended",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "exclude_deleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for get_entitlements",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitlementResponse"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.entitlements"
            ]
          }
        ]
      },
      "post": {
        "operationId": "create_entitlement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEntitlementRequestData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_entitlement",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/applications/{application_id}/entitlements/{entitlement_id}": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "entitlement_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_entitlement",
        "responses": {
          "200": {
            "description": "200 response for get_entitlement",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.entitlements"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "delete_entitlement",
        "responses": {
          "204": {
            "description": "204 response for delete_entitlement",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.entitlements"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/entitlements/{entitlement_id}/consume": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "entitlement_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "post": {
        "operationId": "consume_entitlement",
        "responses": {
          "204": {
            "description": "204 response for consume_entitlement",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.entitlements"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_guild_application_commands",
        "parameters": [
          {
            "name": "with_localizations",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_guild_application_commands",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "put": {
        "operationId": "bulk_set_guild_application_commands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/ApplicationCommandUpdateRequest"
                },
                "maxItems": 130
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for bulk_set_guild_application_commands",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationCommandResponse"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "post": {
        "operationId": "create_guild_application_command",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCommandCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_guild_application_command",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "201": {
            "description": "201 response for create_guild_application_command",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands/permissions": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_guild_application_command_permissions",
        "responses": {
          "200": {
            "description": "200 response for list_guild_application_command_permissions",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommandPermissionsResponse"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.permissions.update"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands/{command_id}": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "command_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_guild_application_command",
        "responses": {
          "200": {
            "description": "200 response for get_guild_application_command",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "delete_guild_application_command",
        "responses": {
          "204": {
            "description": "204 response for delete_guild_application_command",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      },
      "patch": {
        "operationId": "update_guild_application_command",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCommandPatchRequestPartial"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_guild_application_command",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCommandResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.update"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/guilds/{guild_id}/commands/{command_id}/permissions": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "guild_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "command_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_guild_application_command_permissions",
        "responses": {
          "200": {
            "description": "200 response for get_guild_application_command_permissions",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandPermissionsResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.permissions.update"
            ]
          }
        ]
      },
      "put": {
        "operationId": "set_guild_application_command_permissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/ApplicationCommandPermission"
                    },
                    "maxItems": 100
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for set_guild_application_command_permissions",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandPermissionsResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          },
          {
            "OAuth2": [
              "applications.commands.permissions.update"
            ]
          }
        ]
      }
    },
    "/applications/{application_id}/role-connections/metadata": {
      "parameters": [
        {
          "name": "application_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_application_role_connections_metadata",
        "responses": {
          "200": {
            "description": "200 response for get_application_role_connections_metadata",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "put": {
        "operationId": "update_application_role_connections_metadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemRequest"
                },
                "maxItems": 5
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_application_role_connections_metadata",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/ApplicationRoleConnectionsMetadataItemResponse"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_channel",
        "responses": {
          "200": {
            "description": "200 response for get_channel",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GuildChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PrivateChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PrivateGroupChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ThreadResponse"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_channel",
        "responses": {
          "200": {
            "description": "200 response for delete_channel",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GuildChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PrivateChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PrivateGroupChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ThreadResponse"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "patch": {
        "operationId": "update_channel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/UpdateDMRequestPartial"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateGroupDMRequestPartial"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateGuildChannelRequestPartial"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateThreadRequestPartial"
                  }
                ],
                "x-discord-union": "oneOf"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_channel",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GuildChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PrivateChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PrivateGroupChannelResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ThreadResponse"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/followers": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "post": {
        "operationId": "follow_channel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhook_channel_id": {
                    "$ref": "#/components/schemas/SnowflakeType"
                  }
                },
                "required": [
                  "webhook_channel_id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for follow_channel",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelFollowerResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/invites": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_channel_invites",
        "responses": {
          "200": {
            "description": "200 response for list_channel_invites",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/FriendInviteResponse"
                      },
                      {
                        "$ref": "#/components/schemas/GroupDMInviteResponse"
                      },
                      {
                        "$ref": "#/components/schemas/GuildInviteResponse"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "post": {
        "operationId": "create_channel_invite",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/CreateGroupDMInviteRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateGuildInviteRequest"
                  }
                ],
                "x-discord-union": "oneOf"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/CreateGroupDMInviteRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateGuildInviteRequest"
                  }
                ],
                "x-discord-union": "oneOf"
              }
            },
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/CreateGroupDMInviteRequest"
                      },
                      {
                        "$ref": "#/components/schemas/CreateGuildInviteRequest"
                      }
                    ],
                    "x-discord-union": "oneOf"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "target_users_file": {
                        "type": "string",
                        "contentEncoding": "binary"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_channel_invite",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/FriendInviteResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GroupDMInviteResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GuildInviteResponse"
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "204 response for create_channel_invite",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_messages",
        "parameters": [
          {
            "name": "around",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SnowflakeType"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_messages",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "$ref": "#/components/schemas/MessageResponse"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "post": {
        "operationId": "create_message",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageCreateRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MessageCreateRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MessageCreateRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "files[0]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[1]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[2]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[3]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[4]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[5]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[6]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[7]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[8]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[9]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for create_message",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/bulk-delete": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "post": {
        "operationId": "bulk_delete_messages",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SnowflakeType"
                    },
                    "minItems": 2,
                    "maxItems": 100,
                    "uniqueItems": true
                  }
                },
                "required": [
                  "messages"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "204 response for bulk_delete_messages",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/pins": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "list_pins",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response for list_pins",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PinnedMessagesResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/pins/{message_id}": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "message_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "put": {
        "operationId": "create_pin",
        "responses": {
          "204": {
            "description": "204 response for create_pin",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_pin",
        "responses": {
          "204": {
            "description": "204 response for delete_pin",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      }
    },
    "/channels/{channel_id}/messages/{message_id}": {
      "parameters": [
        {
          "name": "channel_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        },
        {
          "name": "message_id",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/SnowflakeType"
          },
          "required": true
        }
      ],
      "get": {
        "operationId": "get_message",
        "responses": {
          "200": {
            "description": "200 response for get_message",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_message",
        "responses": {
          "204": {
            "description": "204 response for delete_message",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/ClientRatelimitedResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/ClientErrorResponse"
          }
        },
        "security": [
          {
            "BotToken": []
          }
        ]
      },
      "patch": {
        "operationId": "update_message",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageEditRequestPartial"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MessageEditRequestPartial"
              }
            },
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MessageEditRequestPartial"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "files[0]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[1]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[2]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[3]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[4]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[5]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[6]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[7]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[8]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      },
                      "files[9]": {
                        "type": "string",
                        "contentEncoding": "binary"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response for update_message",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-RateLimit-Reset-After": {
                "$ref": "#/components/headers/X-RateLimit-Reset-After"
              },
              "X-RateLimit-Bucket": {
                "$ref": "#/components/headers/X-RateLimit-Bucket"
              }
            },
[...]
