name: Upload Artifacts

on:
  push:
    branches: [ master ]
    paths:
      - 'src/main/**'
      - 'build.gradle.kts'
      - '.github/workflows/artifacts.yml'

jobs:
  build:
    name: Build and Upload Artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build Artifacts
        run: ./gradlew --build-cache --parallel build
      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: Artifacts
          path: build/libs/*.jar
